body {
  background-color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #42b983;
}
.card {
  background-color: #2c3e50;
}
.form-control {
  background-color: #2c3e50;
}
li {
  color: #42b983;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.border_main span {
  color: #42b983;
}
